* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
body header {
  display: flex;
  justify-content: space-between;
  padding: 0 46px;
  height: 85px;
}
body header .logo {
  display: flex;
  align-items: center;
}
body header .logo .logo-img {
  height: 30px;
  width: 30px;
}
body header nav {
  display: flex;
  align-items: center;
}
body header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
body header nav ul .navlinks {
  text-decoration: none;
  color: #7c7c7c;
  margin-right: 28px;
}
body header .nav-icons {
  display: flex;
  align-items: center;
}
body header .nav-icons a {
  color: black;
}
body header .nav-icons a .fa-basket-shopping {
  margin-right: 28px;
  font-size: 25px;
}
body header .nav-icons a .fa-user {
  font-size: 25px;
}
body main .hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 46px;
  position: relative;
  margin-bottom: 90px;
}
body main .hero-section .hero-box {
  width: 760px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 40px;
}
body main .hero-section .hero-box h1 {
  font-size: 60px;
  text-align: center;
}
body main .hero-section .hero-box h1 .winked-star {
  width: 46px;
  height: 46px;
}
body main .hero-section .hero-box p {
  color: #7c7c7c;
  text-align: center;
  padding: 50px;
}
body main .hero-section .hero-box #searchbar {
  width: 760px;
  height: 80px;
  border: 0;
  box-shadow: 5px 5px 20px gray;
}
body main .hero-section .hero-box #submit-btn {
  height: 50px;
  width: 160px;
  background-color: #518581;
  color: white;
  border: 0;
  position: absolute;
  right: 20px;
  bottom: 15px;
}
body main .hero-section .hero-img {
  width: 1164px;
}
body main .hero-section .spiral-arrow {
  position: absolute;
  left: 130px;
  top: 220px;
  width: 234px;
  height: 234px;
}
body main .benefit-section {
  padding: 0 82px;
}
body main .benefit-section .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  row-gap: 100px;
}
body main .benefit-section .grid-container .grid-items {
  height: 266px;
  width: 370px;
  margin: 0 10px;
  padding: 20px;
  box-shadow: 0 0 10px gray;
}
body main .benefit-section .grid-container .grid-items .fa-solid {
  color: rgb(7, 121, 115);
  background-color: #FFB23F;
  padding: 20px;
  border-radius: 50%;
}
body main .benefit-section .grid-container .grid-items img {
  width: 58px;
  height: 58px;
}
body main .benefit-section .grid-container .grid-items h3 {
  font-size: 22px;
  margin: 20px 0;
}
body main .benefit-section .grid-container .grid-items p {
  color: #7c7c7c;
}
body main .benefit-section .grid-container .item1 {
  width: 608px;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 40px;
}
body main .benefit-section .grid-container .item1 p {
  font-size: 20px;
  color: #FFB23F;
}
body main .benefit-section .grid-container .item2 {
  display: flex;
  align-items: center;
  color: #7c7c7c;
}
body main .img-slide {
  position: relative;
  margin: 100px 0;
}
body main .img-slide button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.486);
  color: white;
}
body main .img-slide .btn1 {
  position: absolute;
  top: 50%;
  left: 20px;
}
body main .img-slide .btn2 {
  position: absolute;
  right: 20px;
  top: 50%;
}
body main .img-slide .intro-text {
  text-align: center;
}
body main .img-slide .intro-text span {
  color: #FFB23F;
  font-weight: bold;
}
body main .img-slide .intro-text h1 {
  font-size: 40px;
  margin: 10px 0 20px;
}
body main .img-slide .intro-text p {
  color: #7c7c7c;
}
body main .img-slide .img-flex-container {
  display: flex;
  overflow: hidden;
}
body main .img-slide .img-flex-container .img-flexboxes {
  width: 370px;
  height: 512px;
  box-shadow: 0 0 10px gray;
  margin: 30px;
}
body main .img-slide .img-flex-container .img-flexboxes img {
  width: 370px;
  height: 338px;
}
body main .img-slide .img-flex-container .img-flexboxes div {
  padding: 10px;
}
body main .img-slide .img-flex-container .img-flexboxes div p {
  color: #7c7c7c;
  margin: 15px 0;
}
body main .img-slide .img-flex-container .img-flexboxes div a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
body main .img-slide .img-flex-container .img-flexboxes div span {
  font-size: 20px;
  font-weight: bold;
}
body main .craft-section {
  margin-bottom: 100px;
}
body main .craft-section .craft-sec-container {
  display: flex;
  padding: 0 100px;
}
body main .craft-section .craft-sec-container .craft-left {
  width: 50%;
}
body main .craft-section .craft-sec-container .craft-left .items1 {
  width: 500px;
  height: 360px;
  box-shadow: 0 0 10px grey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 46px;
}
body main .craft-section .craft-sec-container .craft-left .items1 span {
  color: #FFB23F;
}
body main .craft-section .craft-sec-container .craft-left .items1 h1 {
  font-size: 40px;
}
body main .craft-section .craft-sec-container .craft-left .items1 p {
  color: #7c7c7c;
  font-size: 14px;
}
body main .craft-section .craft-sec-container .craft-left .items1 a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #518581;
  color: white;
}
body main .craft-section .craft-sec-container .craft-left .craft-sec-items img {
  width: 560px;
  height: 244px;
}
body main .craft-section .craft-sec-container .craft-right {
  width: 50%;
}
body main .craft-section .craft-sec-container .craft-right .items2 {
  display: flex;
  justify-content: center;
  height: 100px;
}
body main .craft-section .craft-sec-container .craft-right .items2 div {
  width: 140px;
  padding: 5px;
  margin: 0 15px;
}
body main .craft-section .craft-sec-container .craft-right .items2 div h1 {
  font-size: 40px;
}
body main .craft-section .craft-sec-container .craft-right .items2 div p {
  margin-top: 10px;
  color: #7c7c7c;
}
body main .craft-section .craft-sec-container .craft-right .craft-sec-items {
  margin-top: 70px;
  position: relative;
}
body main .craft-section .craft-sec-container .craft-right .craft-sec-items img {
  position: absolute;
  right: 0;
  width: 540px;
  height: 480px;
}
body main .testimonial {
  margin-bottom: 100px;
}
body main .testimonial .testimonial-up {
  text-align: center;
}
body main .testimonial .testimonial-up span {
  color: #FFB23F;
  font-weight: bold;
}
body main .testimonial .testimonial-up h1 {
  font-size: 40px;
  margin: 12px 0 20px;
}
body main .testimonial .testimonial-up p {
  color: #7c7c7c;
  line-height: 20px;
}
body main .testimonial .testimonial-down {
  display: flex;
  margin-top: 40px;
}
body main .testimonial .testimonial-down .testi-clients-boxes {
  width: 430px;
  height: 240px;
  padding: 20px;
  flex-shrink: 0;
  margin: 0 10px;
  box-shadow: 0 0 10px grey;
}
body main .testimonial .testimonial-down .testi-clients-boxes .fa-quote-left {
  color: rgb(51, 196, 176);
}
body main .testimonial .testimonial-down .testi-clients-boxes p {
  margin: 20px 0 30px;
  line-height: 30px;
}
body main .testimonial .testimonial-down .testi-clients-boxes div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .testimonial .testimonial-down .testi-clients-boxes div span {
  display: flex;
  align-items: center;
}
body main .testimonial .testimonial-down .testi-clients-boxes div span img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  margin-right: 10px;
}
body main .testimonial .testimonial-down .testi-clients-boxes div span .fa-star {
  margin-right: 10px;
}
body main .articles {
  padding: 0 82px;
  display: flex;
  margin: 150px 0 100px;
}
body main .articles .articles-left {
  width: 50%;
  height: 887px;
  position: relative;
}
body main .articles .articles-left span {
  color: #FFB23F;
  font-weight: bold;
  font-size: 20px;
}
body main .articles .articles-left h1 {
  font-size: 40px;
  margin: 25px 0;
}
body main .articles .articles-left .snr-man {
  margin: 10px 0 50px;
}
body main .articles .articles-left .tips-tricks {
  position: absolute;
  bottom: 150px;
  left: 30px;
}
body main .articles .articles-left .tips-tricks p {
  color: white;
  margin: 20px 0;
}
body main .articles .articles-left .tips-tricks h2 {
  color: white;
}
body main .articles .articles-left .tips-tricks a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
body main .articles .articles-left .art-btn {
  position: absolute;
  right: 10px;
  bottom: 40px;
}
body main .articles .articles-left .art-btn .article-btn {
  width: 70px;
  height: 70px;
  border: 0;
}
body main .articles .articles-left .art-btn .btn1 {
  background-color: white;
  color: #518581;
  box-shadow: 0 0 2px grey;
}
body main .articles .articles-left .art-btn .btn2 {
  background-color: #518581;
  color: white;
}
body main .articles .articles-right {
  width: 50%;
  height: 887px;
}
body main .articles .articles-right .article-right-boxes {
  display: flex;
  align-items: center;
  margin: 22px 0;
}
body main .articles .articles-right .article-right-boxes .art-right-right {
  width: 329px;
  height: 204px;
  padding: 0 20px;
}
body main .articles .articles-right .article-right-boxes .art-right-right p {
  color: #7c7c7c;
  font-size: 18px;
}
body main .articles .articles-right .article-right-boxes .art-right-right h2 {
  font-size: 22px;
  margin: 20px 0;
}
body main .articles .articles-right .article-right-boxes .art-right-right span {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
body main .articles .articles-right .article-right-boxes .art-right-right span h3 {
  font-size: 16px;
  margin: 0 5px 0 2px;
}
body main .articles .articles-right .article-right-boxes .art-right-right span p {
  font-size: 10px;
}
body main .discount {
  display: flex;
  position: relative;
  margin: 0 82px;
  height: 52px;
}
body main .discount h1 {
  font-size: 40px;
}
body main .discount a {
  text-decoration: none;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #518581;
  color: white;
  border: 0;
  position: absolute;
  right: 0;
}
body main .discount a .fa-solid {
  margin-left: 10px;
}
body main footer {
  display: flex;
  height: 380px;
  padding: 130px 82px 82px;
}
body main footer .footer-left {
  width: 50%;
}
body main footer .footer-left h1 img {
  width: 30px;
  height: 30px;
}
body main footer .footer-left p {
  margin-top: 40px;
}
body main footer .footer-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
body main footer .footer-right .footer-nav-container {
  margin-left: 80px;
  float: right;
  width: 120px;
  word-spacing: 1px;
}
body main footer .footer-right .footer-nav-container ul {
  margin-top: 15px;
  list-style: none;
}
body main footer .footer-right .footer-nav-container ul a {
  text-decoration: none;
  color: black;
  margin: 10px 0;
  display: inline-block;
}/*# sourceMappingURL=style.css.map */